
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
/.idea
stajirovka/__pycache__/shapes.cpython-311.pyc
stajirovka/__pycache__/test_shapes.cpython-311.pyc
tg-bot-testovoe/__pycache__/common.cpython-311.pyc
tg-bot-testovoe/__pycache__/config.cpython-311.pyc
tg-bot-testovoe/propane-calling-428714-t7-3b381e46f02f.json
